
@{
    ViewBag.Title = "ReadOnlyList";
}

<h2>ReadOnlyList</h2>

<table id="musics" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
        </tr>
    </thead>
</table>

@section scripts
{

    <script src="~/scripts/inserttablereadonly.js"></script>


}